@model IEnumerable<Writer> 
@section Styling{
    <title>Cards Advance | Materialize - Material Design Admin Template</title>
    <link rel="apple-touch-icon" href="~/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon/favicon-32x32.png">
    <link href="~/css/icon.css?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/themes/vertical-dark-menu-template/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/themes/vertical-dark-menu-template/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/custom/custom.css">
    }

<div id="card-widgets" class="seaction">
    <div class="row">
        @foreach(var writer in Model)
        {

            <div class="col s12 m6 xl4">
                <div id="profile-card" class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="~/images/Users/@writer.Picture" alt="@writer.Picture">
                    </div>
                    <div class="card-content">
                        <img src="~/images/Users/@writer.Picture" alt="" class="circle responsive-img activator card-profile-image cyan lighten-1 padding-2">
                        <a asp-controller="Writer" asp-action="Edit" asp-route-id="@writer.Id" class="btn-floating activator btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                            <i class="material-icons">edit</i>
                        </a>
                        <a asp-controller="Writer" asp-action="Details" asp-route-id="@writer.Id" class="btn-floating activator btn-move-up waves-effect waves-light red accent-2 z-depth-4 right">
                            <i class="material-icons"> details </i>
                        </a>
                        <h5 class="card-title activator grey-text text-darken-4">@writer.Name</h5>
                        <p><i class="material-icons profile-card-i">perm_identity</i> @writer.Nationality</p>
                        <p><i class="material-icons profile-card-i">perm_phone_msg</i> +1 (612) 222 8989</p>
                        <p><i class="material-icons profile-card-i">email</i> yourmail@domain.com</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            Roger Waters <i class="material-icons right">close</i>
                        </span>
                        <p>Here is some more information about this card.</p>
                        <p><i class="material-icons">perm_identity</i>@writer.Nationality</p>
                        <p><i class="material-icons">perm_phone_msg</i> +1 (612) 222 8989</p>
                        <p><i class="material-icons">email</i> yourmail@domain.com</p>
                        <p><i class="material-icons">cake</i> 18th June 1990</p>
                        <p></p>
                        <p><i class="material-icons">airplanemode_active</i> BAR - AUS</p>
                        <p></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

    @section Scripts{
        <script src="~/js/vendors.min.js"></script>
        <script src="~/vendors/sparkline/jquery.sparkline.min.js"></script>
        <script src="~/vendors/chartjs/chart.min.js"></script>
        <script src="~/js/plugins.min.js"></script>
        <script src="~/js/search.min.js"></script>
        <script src="~/js/custom/custom-script.min.js"></script>
        <script src="~/js/scripts/customizer.min.js"></script>
        <script src="~/js/scripts/card-advanced.min.js"></script>
        }
    